.btn-primary{
	background:#313461;
	border-color:#313461;
}

div {
	background:black;
	padding-right:100px;
	padding-left: 100px;
	text-align:center;

}

.center{
	border: 5px solid #FFFF00;
	padding: 50px 0;
}







